{{#partial "content"}}

    <div class="animal-list-holder p-3">
        <div class="text-center">
            <h1>Animals Sightings</h1>
        </div>
    <div class="d-flex justify-content-center align-items-center">
            {{#if sightings}}
            <div class="table-responsive">
                <table class="table table-hover table-info">
                    <thead class="thead-dark">
                    <tr>
                        <th>SightingId</th>
                        <th>AnimalId</th>
                        <th>Location</th>
                        <th>Ranger's Name</th>
                        <th>Time Recorded</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each sightings}}
                        <tr>
                            <td>{{id}}</td>
                            <td>{{animalId}}</td>
                            <td>{{location}}</td>
                            <td>{{rangerName}}</td>
                            <td>{{timeSeen}}</td>
                            <td><a href="/sightings/{{id}}/delete" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i>Delete</a></td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>

        {{else}}
            <h1 class="text-center">No Endangered Animals Recorded Yet!
                <i class="fa fa-smile-o text-warning" aria-hidden="true"></i>
            </h1>
        </div>
        {{/if}}

    </div>
    </div>

{{/partial}}
{{> layout.hbs}}